* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* Header css */
header {
  display: flex;
  justify-content: space-between;
}

/* Header left area css */
#left {
  display: flex;
  padding-left: 4em;
}

#left #logo {
  padding: 1em;
}

#left nav {
  align-self: baseline;
}

#left nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding-top: 1.2em;
  margin-left: 2em;
}

#left nav ul li {
  padding: 0em 1em;
}

#left nav ul li a {
  text-decoration: none;
  color: #484262;
  font-weight: bold;
}

/* header right area css */
#right {
  display: flex;
  align-items: center;
  padding-right: 4em;
}

#right a {
  background-color: #FF6162;
  padding: 1em;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  color: white;
}

/* Main section one css */
#one {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5em;
}

/* section one text area css */
#one #text-area {
  margin-right: 5em;
}

#one #text-area h1 {
  font-size: 3em;
  line-height: 1.2em;
  color: #413D52;
}

#one #text-area p {
  padding-top: 2em;
  color: #9CA9B2;
  text-align: left;
}

#one #text-area #arrow a img{
  width: 1em;
  padding-top: 1em;
}

/* Section one image area css */
#one #img-area .mntn {
  width: 525px;
  height: 450px;
  border-radius: 8px;
}

/* Section two css */
#two {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10em;
}

#two h2, p {
  text-align: center;
}

#two h2 {
  padding-bottom: 1em;
  color: #413D52;
}

#two p {
  padding-bottom: 1em;
  color: #9CA9B2;
  font-style: italic;
}

#two .demo-img {
  width: 20%;
}

#two #img-container {
  display: flex;
  justify-content: space-around;
}

/* Section three css */
#three {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15em;
  padding-bottom: 5em;
}

#three h2 {
  color: #292640;
}

#three p {
  padding: 1em 0 2em 0;
  color: #9CA9B2;
  font-style: italic;
}
/* features css */
#features {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  grid-gap: 2em;
  padding: 0 4em;
}

#features .icons {
  width: 20%;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px -1px 22px -7px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px -1px 22px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -1px 22px -7px rgba(0,0,0,0.75);
}

#features .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F5F5;
  padding: 2em 1em 1em 1em;
  border-radius: 7px;
}

#features .box h3, p {
  text-align: center;
}

#features .box h3 {
  color: #2A2641;
  padding-top: 1em;
}

#features .box p {
  color: #9CA9B2;
  padding-top: 1em;
}

/* Footer css */
footer {
  background-color: #292640;
}
